@page "{restaurantId:int}"

@model RazorFood.Pages.Restaurants.Detail

@{
    Layout = null;
}




<h2>@Model.Restaurant.Name</h2>
<h2>Live updates</h2>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Id: @Model.Restaurant.Id
</div>

<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>

<a asp-page="./List" class="btn btn-default">All Restaurants</a>      