@page
@model RazorFood.Pages.Restaurants.List

@{

}
<h1>Restaurants</h1>
<form method="get">
    <div class="input-group-append">
        <input type="search" class="form-control" asp-for="SearchTerm"/>
        <div class="input-group-append">
            <button class="btn btn-default">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-lg"
                   asp-page="./Detail" 
                   asp-route-restaurantId="@restaurant.Id">
                    <i class="fa fa-search-plus"></i>
                </a>
                <a class="btn btn-lg"
                   asp-page="./Edit" 
                   asp-route-restaurantId="@restaurant.Id">
                    <i class="fa fa-edit"></i>
                </a>                
            </td>
        </tr>
    }
</table>
<i class="fa fa-car"></i>
<i class="fa fa-search"></i>

<div>@Model.Message</div>